body {
  background-color: #add8e6 ;
  text-align: center;
  margin: 0 auto;
}
.navbar {
  background-color: #ade6d8;
  padding: ;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: ;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

form{
	width: 35%;
	margin: 7% auto;
}
#graph {
  padding: 3%;
}
.form1 {
  margin-bottom: 2.5px;
}
.csi {
  width: 50%;
  margin-left: 15%;
  border-radius: 40%;
}
.contact{
	position: relative;
	right: 100px;
	text-align: left;
}
input, textarea, select, button {
  width : 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
